.site-header
  position: relative
  overflow: hidden
  min-height: 70vh
  background:
    image: url("/assets/images/header-bg3.jpg")
    size: cover
    position: center center
    attachment: fixed

  .logo-container
    display: inline-block
    position: absolute
    overflow: hidden
    text-align: center
    top: 50%
    left: 50%
    width: 0
    height: 0
    border:
      right: solid $white-color 1px
      left: solid $white-color 1px
      bottom: solid $white-color 1px
      top: solid $white-color 1px
      radius: 10px
    transform: translate(-50%, -50%) rotate(90deg)
    transform-origin: center center
    background: rgba(0, 25, 41, 0.51)
    animation: header-bg-in forwards 2s
    animation-delay: 0.8s

    .logo
      display: inline-block
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      font:
        family: "Montserrat", sans-serif
        weight: 100
        size: 20px
      margin-left: 5px
      letter-spacing: 30px
      text-transform: uppercase
      padding: 0px 0px
      color: $white-color


      span
        color: $primary-color
        font-weight: 400
        font-size: 55px
        letter-spacing: 0px

@keyframes header-bg-in


  0%
    width: 0px
    height: 0px
    border:
      right: solid $white-color 1px
      left: solid $white-color 1px
      bottom: solid $white-color 1px
      top: solid $white-color 1px
    transform: translate(-50%, -50%) rotate(90deg)

  10%
    width: 0px
    padding: 20px 0px
    height: 108px
    transform: translate(-50%, -50%) rotate(0deg)

  10%
    width: 0px
    transform: translate(-50%, -50%) rotate(90deg)

  30%
    width: 0px
    transform: translate(-50%, -50%) rotate(0deg)
    border:
      right: solid $white-color 1px
      left: solid $white-color 1px
      bottom: solid $white-color 1px
      top: solid $white-color 1px
  42%
    width: 0px
    padding: 20px 0px
    transform: translate(-50%, -50%) rotate(0deg)
  100%
    padding: 20px 40px
    width: 460px
    height: 108px
    transform: translate(-50%, -50%) rotate(0deg)
    border:
      right: solid $white-color 15px
      left: solid $white-color 15px
      bottom: solid $white-color 1px
      top: solid $white-color 1px

@import "nav"