---
layout: default
---
<div id="o-nas" class="about-us">
    <div class="container">
        <h1  class="text-center text-uppercase">
            O nas
        </h1>
        <div class="row person-row">
            {% assign asia_skils = "PS-40,AI-5,HTML-10,JS-5" | split: "," %}
            {% assign piotrek_skils = "PS-90,AI-80,HTML-95,JS-70" | split: "," %}

            {% include person.html name="Asia" photo="assets/images/asia.jpg"  skils = asia_skils %}
            {% include person.html name="Piotrek" photo="assets/images/piotrek.jpg" skils= piotrek_skils %}
        </div>
    </div>
</div>